<nav class="
  relative
  w-full
  flex flex-wrap
  items-center
  justify-between
  py-4
  bg-transparent

  navbar navbar-expand-lg ">
      
      <div class="container w-full flex flex-wrap   items-center justify-between px-6">
          <img class="hidden h-10 lg:block mt-2 p-3 h-20"  src="logo/logo_myresto.svg" alt="My resto"/>
          
          
          
          <a href="#" class="font-semibold text-blue-500 hover:text-gray-500 focus:text-gray-700">Accueil</a>
          <a href="#" class="font-semibold text-blue-500 hover:text-gray-500 focus:text-gray-700">Menu</a>
          
          <button class="bg-yellow-500 font-bold text-blue-500 rounded">
            
              Commande
                     
          </button>
          
        
          
         
          <div class="absolute top-0 right-0">
                <a href="#" class="text-white-500 hover:text-white-700 focus:text-white-700 mr-4">
                  <img
                        src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                        class="rounded-full"
                        style="height: 40px; width: 40px"
                        alt="Avatar"
                  />                 
                </a>
        </div>
            
      
          
          
            
      </div>
    
</nav>



    
