<nav class="p-2 bg-gray-400">
    <div class="flex flex-row">
        <div class="basis-1/4 text-white">
            <img src="" class=""alt="logo MYRESTO" >
        </div>

        <div class="basis-1/4 text-white">
            <a href="#" >Home</a>
            <a href="#" >Menu</a>
        </div>
        <div class="basis-1/2 text-white">
            <a href="#" class="">Logo panier (Commande)</a>
            <img src="" class="img-navbar" alt="Image Profil">
            <a href="#" class="" >Nom profil</a>
        </div>
       
    </div>
</nav>
