@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Roboto-Bold;
    src: url(../font/roboto/Roboto-Bold.ttf);
}

.page {
    @apply min-h-screen;
}

.btn-custom {
    @apply w-1/4 mx-auto text-center p-4 border bg-gray-300 border-rose rounded-xl;
}

.btn-rose {
    @apply w-1/4 mx-auto text-center p-4 border bg-gray-500 border-gray-200 rounded-xl;
}

.btn-emmeraude {
    @apply w-1/4 mx-auto mt-4 text-center p-4 border bg-emerald-500 border-rose rounded-xl;
}

.sidebar{
    @apply fixed h-screen px-2 w-48 text-center bg-orange text-xl;
}

.grille{
    @apply grid grid-cols-3 mt-20 mr-20 gap-8 pl-20 pr-20 text-center font-bold text-white;
}

.case-dashboard{
    @apply p-2 rounded-lg shadow-xl;
}

.text-dashboard{ 
    @apply text-3xl pt-10 pb-16;
}

table{
    @apply text-xl mr-auto ml-auto mb-2 mt-4;
}

/* .table-commandes{

} */

tr{
    @apply border-b-4 border-white;
}

td{
    @apply w-72;
}

.circle-dashboard{
    @apply bg-white rounded-full text-violet p-10 text-3xl w-fit h-fit mr-auto ml-auto mt-6 mb-6;
}

.bouton-gerant{
    background-color: #9D82D8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    border-radius: 10px;
}
